@font-face {
    font-family: "MyCustomFont";
    src: url('https://cdn.glitch.global/fdb54953-0b9f-474d-9306-a5dd00c4e25a/Hey%20Guys!%20Demo.otf?v=1727351218815');
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 850vh; /* Adjust height to 100% */
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
  
  
  body {
    color: #ef8eaa;
    background: #eb5619;
    font-family: "MyCustomFont", sans-serif;
  }
  
  .navbar {
    position: relative;
    top: 3vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    font-size: 4vh;
    text-decoration: none;
    padding: 0 4vw;
  }
  .link1 {
    margin-left: 6vh;
  }
  
  .link4 {
    margin-right: 6vh;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  .introimg {
    display: flex;
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    gap: 4vw; /* Space between images */
    margin-left: 7vw;
    margin-top: 10vh
    /* Align images to the top */
}

.introimg img {
    width: 40vw; /* Set the width for landscape A4 */
    height: calc(40vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}
 
h1 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 4vh;
    line-height: 1.5;
    top:22vh;
    text-decoration: underline;
    width: 70vw; /* Adjust width for text */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    margin-left: 86vw; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  }
  
  h2 {
    text-align: right; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    line-height: 1.5;
    top:32vh;
    width: 40vw; /* Adjust width for text */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 75%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  
  }

  h3 {
    text-align: right; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 4vh;
    line-height: 1.5;
    top:90vh;
    text-decoration: underline;
    width: 40vw; /* Adjust width for text */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  
  }
  h4 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    
    line-height: 1.5;
    top:100vh;
    width: 40vw; /* Adjust width for text */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  
  }
  .researchimg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; 
    margin-left: 15vw;
    
  }

  .researchimg img {
    margin-top: 120vh;
    width: 20vw; /* Decrease width to make images smaller */
    height: calc(20vw * 1.414); /* Adjust height accordingly */
  }

  .researchinganimation {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; 
    margin-left: 15vw;
    
  }

  .researchinganimation img {
    margin-top: 180vh;
    width: 20vw; /* Decrease width to make images smaller */
    height: calc(20vw * 1.414); /* Adjust height accordingly */
  }

  h5 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 4vh;
    line-height: 1.5;
    top:260vh;
    text-decoration: underline;
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  }
  .inspo {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; 
    margin-left: 1vw;
    
  }

  .inspo img {
    margin-top: 260vh;
    width: 20vw; /* Decrease width to make images smaller */
    height: calc(20vw * 1.414); /* Adjust height accordingly */
  }
  
  .inspo {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center items */
    flex-wrap: wrap; /* Allow wrapping */
    gap: 4vw; /* Space between images */
    margin-top: 10vh;
    
}

.inspo-item {
    text-align: right; /* Center text under each image */
}

.subtitle {
 
    color: #ffffff; /* Subtitle text color */
    font-size: 2vh; /* Font size for subtitles */
    margin-top: 0vh; /* Decrease space above subtitles for shorter spacing */
    line-height:1.2vh;
    padding: 0vh;
  }
  

  h7 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 4vh;
    text-decoration: underline;
    top:335vh;
    width: 40vw; /* Adjust width for text */
    
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  }

  

  .experiments {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; 
    margin-left: 15vw;
    
  }

  .experiments img {
    margin-top: 360vh;
    width: 20vw; /* Decrease width to make images smaller */
    height: calc(20vw * 1.414); /* Adjust height accordingly */
  }
  h8 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 4vh;
    line-height: 1.5;
    top:440vh;
    width: 40vw; /* Adjust width for text */
    display: flex;
    text-decoration: underline;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center align items horizontally */
    
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  }
  h9 {
    text-align: center; /* Center text */
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    line-height: 1.5;
    top:450vh;
    display: flex;
    align-items: center; /* Center vertically */
    position: absolute; /* Allows absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it */
    z-index: 2; /* Ensure this is on top */
  }

  .character {
    
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 2vw; 
    margin-left: 5vw;
    
  }

  .character img {
    margin-top: 450vh;
    width: 20vw; /* Decrease width to make images smaller */
    height: calc(20vw * 1.414); /* Adjust height accordingly */
  }

  .character3 {
    position: absolute;
    width: 30vw; /* Adjust this value to scale the image down */
    height: auto;  /* Maintain aspect ratio */
    margin-left: 55vw;
    transform: translateX(-50%) ; /* Rotate by 180 degrees */
   
  }
  
  .character3 img {
    margin-top: 440vh;
    width: 100%; 
    height: auto;
    object-fit: cover; /* Ensure the image covers the rotated container */
  }
  .character4 {
    position: absolute;
    width: 30vw; /* Adjust this value to scale the image down */
    height: auto;  /* Maintain aspect ratio */
    margin-left: 80vw;
    transform: translateX(-50%) ; /* Rotate by 180 degrees */
   
  }
  
  .character4 img {
    margin-top: 450vh;
    width: 100%; 
    height: auto;
    object-fit: cover; /* Ensure the image covers the rotated container */
  }



  .lastrow {
    
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; /* Space between images */
    margin-left: 15vw;
    margin-top: 510vh;
   
    left: 17%; /* Center horizontally */
   
   
}

.lastrow img {
    width: 35vw; /* Set the width for landscape A4 */
    height: calc(35vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}


  .storyboard1 {
    
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; /* Space between images */
    margin-left: 13vw;
    margin-top: 600vh
    /* Align images to the top */
}

.storyboard1 img {
    width: 25vw; /* Set the width for landscape A4 */
    height: calc(25vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}

.storyboard2 {
    
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; /* Space between images */
    margin-left: 13vw;
    margin-top: 640vh
    /* Align images to the top */
}

.storyboard2 img {
    width: 25vw; /* Set the width for landscape A4 */
    height: calc(25vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}
.storyboard3 {
    
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; /* Space between images */
    margin-left: 13vw;
    margin-top: 680vh
    /* Align images to the top */
}

.storyboard3 img {
    width: 25vw; /* Set the width for landscape A4 */
    height: calc(25vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}

.storyboard4 {
    
    flex-direction: row; /* Align items in a row (horizontally) */
    position: absolute;
    width: 100%;
    height: 60vh; /* Each row will fill the screen */
    gap: 4vw; /* Space between images */
    margin-left: 13vw;
    margin-top: 720vh
    /* Align images to the top */
}

.storyboard4 img {
    width: 25vw; /* Set the width for landscape A4 */
    height: calc(25vw / 1.414); /* Invert the aspect ratio to 1.414 for landscape */
}

h10 {
  text-align: center; /* Center text */
  color: rgb(255, 255, 255);
  font-size: 4vh;
  line-height: 1.5;
  top:780vh;
  text-decoration: underline;
  display: flex;
  align-items: center; /* Center vertically */
  position: absolute; /* Allows absolute positioning */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center it */
  
}
  h11 {
    text-align: center; /* Center text */
  color: rgb(255, 255, 255);
  font-size: 2.5vh;
  line-height: 1.5;
  top:790vh;
  display: flex;
  align-items: center; /* Center vertically */
  position: absolute; /* Allows absolute positioning */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center it */
  
}